### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
.settings/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-file
*.flf
#idea folder
.idea/
#Test results file
TestResults.xml
#Node modules
node_modules/
dist/
target/
bin/
#Target folder
modules/bff-provider/target/
modules/bff-wsclient/target/
modules/bff-core/target/
modules/bff-configuration/target/
modules/front/node_modules/
modules/front/node/
modules/bff-api/target/
modules/bff-api/bin/
#Compiled JavaScript map files
*.js.map
mvnw