apiVersion: apps/v1
kind: Deployment
metadata:
  name: bff-deploiement
  namespace: paytogether
  labels:
    app: bff
spec:
  replicas: 2
  selector:
    matchLabels:
      app: bff
  template:
    metadata:
      labels:
        app: bff
    spec:
      containers:
        - name: bff
          image: docker.io/14152021/dealtogether:bff-v1.0.2
          ports:
            - containerPort: 8080
