apiVersion: v1
kind: Service
metadata:
  name: registry
  namespace: paytogether
  labels:
    app: registry
spec:
  selector:
    app: registry
  type: NodePort
  ports:
    - port: 5000
      targetPort: 5000
      nodePort: 30500
